# **Data Exploration**

In [1]:
import numpy as np
import pandas as pd

In [2]:
!pwd

/kaggle/working

In [3]:
train_file = '../input/train_0irEZ2H.csv'
test_file = '../input/test_nfaJ3J5.csv'

In [4]:
train_data = pd.read_csv(train_file)
train_data.head(10)

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52
5,9,17/01/11,8091,219009,227.2875,227.2875,0,0,18
6,10,17/01/11,8091,219029,327.0375,327.0375,0,0,47
7,13,17/01/11,8091,223245,210.9000,210.9000,0,0,50
8,14,17/01/11,8091,223153,190.2375,234.4125,1,1,82
9,17,17/01/11,8095,216418,99.0375,99.0375,0,0,99

In [5]:
train_data.isnull().values.any()

True

In [6]:
train_data.isnull().sum()

record_ID          0
week               0
store_id           0
sku_id             0
total_price        1
base_price         0
is_featured_sku    0
is_display_sku     0
units_sold         0
dtype: int64

In [7]:
train_data[train_data['total_price'].isnull()]

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
136949,193915,23/04/13,9436,245338,NaN,469.5375,0,0,1

In [8]:
train_data = train_data.dropna()

In [9]:
train_data.isnull().sum()

record_ID          0
week               0
store_id           0
sku_id             0
total_price        0
base_price         0
is_featured_sku    0
is_display_sku     0
units_sold         0
dtype: int64

In [10]:
test_data = pd.read_csv(test_file)
test_data.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku
0,212645,16/07/13,8091,216418,108.3000,108.3000,0,0
1,212646,16/07/13,8091,216419,109.0125,109.0125,0,0
2,212647,16/07/13,8091,216425,133.9500,133.9500,0,0
3,212648,16/07/13,8091,216233,133.9500,133.9500,0,0
4,212649,16/07/13,8091,217390,176.7000,176.7000,0,0

In [11]:
test_data.isnull().sum()

record_ID          0
week               0
store_id           0
sku_id             0
total_price        0
base_price         0
is_featured_sku    0
is_display_sku     0
dtype: int64

In [12]:
test_data['units_sold'] = np.zeros(len(test_data)) -1 
test_data.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,212645,16/07/13,8091,216418,108.3000,108.3000,0,0,-1.0
1,212646,16/07/13,8091,216419,109.0125,109.0125,0,0,-1.0
2,212647,16/07/13,8091,216425,133.9500,133.9500,0,0,-1.0
3,212648,16/07/13,8091,216233,133.9500,133.9500,0,0,-1.0
4,212649,16/07/13,8091,217390,176.7000,176.7000,0,0,-1.0

In [13]:
combined_data = pd.concat([train_data, test_data])
combined_data.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20.0
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28.0
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19.0
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44.0
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52.0

In [14]:
unique_stores = combined_data.store_id.unique()
print(unique_stores)

number_of_unique_stores = len(unique_stores)
print(number_of_unique_stores)

[8091 8095 8094 8063 8023 8058 8222 8121 8218 8317 8319 8392 8398 8400
 8422 8438 8555 8562 8869 8991 8911 9001 9043 9092 9112 9132 9147 9164
 9178 9190 9221 9250 9273 9279 9281 9328 9371 9442 9430 9439 9425 9432
 9436 9456 9479 9481 9490 9498 9532 9578 9672 9611 9613 9632 9680 9700
 9713 9731 9745 9770 9789 9813 9823 9837 9809 9845 9872 9876 9879 9880
 9881 9890 9909 9954 9961 9984]
76

In [15]:
unique_products = combined_data.sku_id.unique()
print(unique_products)

number_of_unique_products = len(unique_products)
print(number_of_unique_products)

[216418 216419 216425 216233 217390 219009 219029 223245 223153 300021
 219844 222087 320485 378934 222765 245387 245338 547934 300291 217217
 217777 398721 679023 546789 600934 545621 673209 327492]
28

In [16]:
unique_weeks = combined_data.week.unique()
print(unique_weeks)

number_of_unique_weeks = len(unique_weeks)
print(number_of_unique_weeks)

['17/01/11' '24/01/11' '31/01/11' '07/02/11' '14/02/11' '21/02/11'
 '28/02/11' '07/03/11' '14/03/11' '21/03/11' '28/03/11' '04/04/11'
 '11/04/11' '18/04/11' '25/04/11' '02/05/11' '09/05/11' '16/05/11'
 '23/05/11' '30/05/11' '06/06/11' '13/06/11' '20/06/11' '27/06/11'
 '04/07/11' '11/07/11' '18/07/11' '25/07/11' '01/08/11' '08/08/11'
 '15/08/11' '22/08/11' '29/08/11' '05/09/11' '12/09/11' '19/09/11'
 '26/09/11' '03/10/11' '10/10/11' '17/10/11' '24/10/11' '31/10/11'
 '07/11/11' '14/11/11' '21/11/11' '28/11/11' '05/12/11' '12/12/11'
 '19/12/11' '26/12/11' '02/01/12' '09/01/12' '16/01/12' '23/01/12'
 '30/01/12' '06/02/12' '13/02/12' '20/02/12' '27/02/12' '06/03/12'
 '13/03/12' '20/03/12' '27/03/12' '03/04/12' '10/04/12' '17/04/12'
 '24/04/12' '01/05/12' '08/05/12' '15/05/12' '22/05/12' '29/05/12'
 '05/06/12' '12/06/12' '19/06/12' '26/06/12' '03/07/12' '10/07/12'
 '17/07/12' '24/07/12' '31/07/12' '07/08/12' '14/08/12' '21/08/12'
 '28/08/12' '04/09/12' '11/09/12' '18/09/12' '25/09/12' '02/10/12'
 '09/10/12' '16/10/12' '23/10/12' '30/10/12' '06/11/12' '13/11/12'
 '20/11/12' '27/11/12' '04/12/12' '11/12/12' '18/12/12' '25/12/12'
 '01/01/13' '08/01/13' '15/01/13' '22/01/13' '29/01/13' '05/02/13'
 '12/02/13' '19/02/13' '26/02/13' '05/03/13' '12/03/13' '19/03/13'
 '26/03/13' '02/04/13' '09/04/13' '16/04/13' '23/04/13' '30/04/13'
 '07/05/13' '14/05/13' '21/05/13' '28/05/13' '04/06/13' '11/06/13'
 '18/06/13' '25/06/13' '02/07/13' '09/07/13' '16/07/13' '23/07/13'
 '30/07/13' '06/08/13' '13/08/13' '20/08/13' '27/08/13' '03/09/13'
 '10/09/13' '17/09/13' '24/09/13' '01/10/13']
142

In [17]:
print(len(train_data))
print(len(test_data))
print(len(combined_data))

150149
13860
164009

# **Data Preprocessing**

In [18]:
def get_dummy_fields(data): 
    
    # doing this for categorical features
    dummy_fields = ['week', 'store_id', 'sku_id']

    for each in dummy_fields:
        dummy = pd.get_dummies(data[each], prefix=each, drop_first=False)
        data = pd.concat([data, dummy], axis=1)

    return data

In [19]:
def drop_fields(data):
    
    fields_to_drop = ['record_ID','week', 'store_id', 'sku_id']
    data = data.drop(fields_to_drop, axis=1)
    return data

In [20]:
 def scale_features(data, train=True):
        
    #feature scaling the continuous variables
    quant_features = ['total_price', 'base_price']
    
    if train:
        quant_features.append('units_sold')

    scaled_features = {}
    for each in quant_features:
        mean, std = data[each].mean(), data[each].std()
        scaled_features[each] = [mean, std]
        data.loc[:, each] = (data[each] - mean)/std

    return data, scaled_features

In [21]:
combined_data = get_dummy_fields(combined_data)
combined_data = drop_fields(combined_data)

combined_data.head()

,total_price,base_price,is_featured_sku,is_display_sku,units_sold,week_01/01/13,week_01/05/12,week_01/08/11,week_01/10/13,week_02/01/12,...,sku_id_320485,sku_id_327492,sku_id_378934,sku_id_398721,sku_id_545621,sku_id_546789,sku_id_547934,sku_id_600934,sku_id_673209,sku_id_679023
0,99.0375,111.8625,0,0,20.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,99.0375,99.0375,0,0,28.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,133.9500,133.9500,0,0,19.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,133.9500,133.9500,0,0,44.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,141.0750,141.0750,0,0,52.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
len(train_data)

150149

In [23]:
split_len = len(train_data)
train_data = combined_data[:split_len]
test_data = combined_data[split_len:]

In [24]:
print(len(train_data))
print(len(test_data))

150149
13860

In [25]:
print(train_data.shape)
print(test_data.shape)

(150149, 251)
(13860, 251)

In [26]:
train_data, train_scaled_features = scale_features(train_data, train=True)
test_data, test_scaled_features = scale_features(test_data, train=False)

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [56]:
train_scaled_features['units_sold']

[51.674543287001576, 60.20796232477341]

In [27]:
test_data.head()

,total_price,base_price,is_featured_sku,is_display_sku,units_sold,week_01/01/13,week_01/05/12,week_01/08/11,week_01/10/13,week_02/01/12,...,sku_id_320485,sku_id_327492,sku_id_378934,sku_id_398721,sku_id_545621,sku_id_546789,sku_id_547934,sku_id_600934,sku_id_673209,sku_id_679023
0,-1.115428,-1.117888,0,0,-1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1.107778,-1.111000,0,0,-1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.840030,-0.869893,0,0,-1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-0.840030,-0.869893,0,0,-1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-0.381035,-0.456568,0,0,-1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
test_data = test_data.drop(['units_sold'], axis=1)
test_data.head()

,total_price,base_price,is_featured_sku,is_display_sku,week_01/01/13,week_01/05/12,week_01/08/11,week_01/10/13,week_02/01/12,week_02/04/13,...,sku_id_320485,sku_id_327492,sku_id_378934,sku_id_398721,sku_id_545621,sku_id_546789,sku_id_547934,sku_id_600934,sku_id_673209,sku_id_679023
0,-1.115428,-1.117888,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1.107778,-1.111000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.840030,-0.869893,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-0.840030,-0.869893,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-0.381035,-0.456568,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# splitting the data into training, validation and test sets

valid_size = 0.2
train_size = 0.8

total_rows = len(train_data)

target_fields = ['units_sold']

features, target = train_data.drop(target_fields, axis=1), train_data[target_fields]

In [30]:
train_features, valid_features = features[ :int(train_size*total_rows)], features[int(train_size*total_rows): ]
train_target, valid_target = target[ :int(train_size*total_rows)], target[int(train_size*total_rows): ]

In [31]:
train_features.head()

,total_price,base_price,is_featured_sku,is_display_sku,week_01/01/13,week_01/05/12,week_01/08/11,week_01/10/13,week_02/01/12,week_02/04/13,...,sku_id_320485,sku_id_327492,sku_id_378934,sku_id_398721,sku_id_545621,sku_id_546789,sku_id_547934,sku_id_600934,sku_id_673209,sku_id_679023
0,-1.041436,-0.969372,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1.041436,-1.084954,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.703492,-0.770315,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-0.703492,-0.770315,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-0.634524,-0.706102,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
train_target.shape

(120119, 1)

In [33]:
train_target.iloc[0]

units_sold   -0.526086
Name: 0, dtype: float64

In [34]:
valid_features.shape

(30030, 250)

In [35]:
test_data.shape

(13860, 250)

In [36]:
from torch.utils.data import Dataset, DataLoader
import torch

class SKUDataset(Dataset):

    def __init__(self, features, target=None, train=True):
        self.features = features
        self.target = target
        self.train = train
    
    def __len__(self):
        return len(self.features)

    def __getitem__(self, idx):

        if self.train:
            return torch.tensor(self.features.iloc[idx], dtype=torch.float32), torch.tensor(self.target.iloc[idx], dtype=torch.float32)
        else:
            return torch.tensor(self.features.iloc[idx], dtype=torch.float32)

In [37]:

train_dataset = SKUDataset(train_features, train_target, train=True)
valid_dataset = SKUDataset(valid_features, valid_target, train=True)
test_dataset = SKUDataset(test_data, train=False)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
valid_loader = DataLoader(valid_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32)

In [38]:
# verifying data in dataloader 
x, y = next(iter(train_loader))
print(x.shape, y.shape)

torch.Size([32, 250]) torch.Size([32, 1])

In [39]:
# verifying data in dataloader 
x, y = next(iter(valid_loader))
print(x.shape, y.shape)

torch.Size([32, 250]) torch.Size([32, 1])

In [40]:
# verufying data in test_loader
x = next(iter(test_loader))
print(x.shape)

torch.Size([32, 250])

# **Network Architecture**

In [41]:
import torch
import torch.nn as nn

In [42]:
class Network(nn.Module):

    def __init__(self):
        super().__init__()
        self.hidden1 = nn.Linear(250, 64)
        self.hidden2 = nn.Linear(64, 16)
        # 1 output node because we are predicting a continuous value
        self.output = nn.Linear(16, 1)

    def forward(self, x):
        x = self.hidden1(x)
        x = torch.sigmoid(x)
        x = self.hidden2(x)
        x = torch.sigmoid(x)
        x = self.output(x)

        return x

In [43]:
model = Network()
model

Network(
  (hidden): Linear(in_features=250, out_features=32, bias=True)
  (output): Linear(in_features=32, out_features=1, bias=True)
)

In [44]:
class RMSLELoss(nn.Module):
    def __init__(self):
        super().__init__()
        self.mse = nn.MSELoss()

    def forward(self, pred, actual):
        return torch.sqrt(self.mse(torch.log(pred + 1), torch.log(actual + 1)))

In [45]:
import torch.optim as optim

criterion = nn.MSELoss()
optimizer = optim.SGD(model.parameters(), lr=0.01)

gpu_is_available = torch.cuda.is_available()
if gpu_is_available:
    print('Training on GPU!')
    model = model.cuda()
else:
    print('Training on CPU!')

Training on GPU!

In [48]:
epochs = 30
valid_loss_min = np.inf

for epoch in range(epochs):
    
    train_loss = 0.
    valid_loss = 0.

    model.train()
    for features, target in train_loader:
        # print('features :{}, target: {}'.format(features, target))
        # moving data to GPU, if it's available
        if gpu_is_available:
            features, target = features.cuda(), target.cuda()

        # clearing out the gradients
        optimizer.zero_grad()
        # forward pass
        preds = model(features)
        # calculating the loss
        loss = criterion(preds, target)
        # backward propagation
        loss.backward()
        # updating the weights
        optimizer.step()

        # updating the loss
        train_loss += loss.item()*features.size(0)
        

    model.eval()
    for features, target in valid_loader:
        # moving data to GPU, if it's available
        if gpu_is_available:
            features, target = features.cuda(), target.cuda()
        # forward pass
        preds = model(features)
        # calculating the loss
        loss = criterion(preds, target)

        valid_loss += loss.item()*features.size(0)

    train_loss /= len(train_loader.dataset)
    valid_loss /= len(valid_loader.dataset)

    print('Epoch #{}, training loss : {:.6f}, validation loss : {:.6f}'
    .format(epoch+1, train_loss, valid_loss))

    if valid_loss < valid_loss_min :
        print('Validation loss decreased from {:.6f} to {:.6f}. Saving model...'
        .format(valid_loss_min, valid_loss))
        valid_loss_min = valid_loss
        torch.save(model.state_dict(), 'model.pt')

preds tensor([[-0.1410],
        [ 0.2251],
        [-0.1344],
        [-0.2411],
        [-0.3762],
        [ 0.4428],
        [ 0.0622],
        [ 0.7301],
        [ 1.3046],
        [-0.3013],
        [ 0.2647],
        [ 1.1019],
        [-0.1169],
        [ 0.9756],
        [-0.2393],
        [-1.0716],
        [-0.2485],
        [-0.4883],
        [-0.2924],
        [-0.1514],
        [ 0.3910],
        [ 0.6635],
        [ 1.1491]], device='cuda:0', grad_fn=<AddmmBackward>), loss: 0.37275224924087524
Epoch #1, training loss : 0.711198, validation loss : 0.487788
Validation loss decreased from inf to 0.487788. Saving model...
preds tensor([[-0.2589],
        [-0.3629],
        [-0.1229],
        [ 0.0129],
        [-0.5916],
        [ 0.0093],
        [ 2.1439],
        [-0.9114],
        [-0.5096],
        [-0.9628],
        [ 1.0177],
        [-0.4509],
        [-0.3373],
        [ 0.3915],
        [-0.7034],
        [ 0.2738],
        [-0.4573],
        [-0.9332],
        [-0.2832],
        [ 1.2549],
        [ 0.0753],
        [ 0.5064],
        [ 0.1357]], device='cuda:0', grad_fn=<AddmmBackward>), loss: 0.36274537444114685
Epoch #2, training loss : 0.582439, validation loss : 0.403185
Validation loss decreased from 0.487788 to 0.403185. Saving model...
preds tensor([[ 0.2186],
        [-0.9223],
        [-0.1658],
        [ 0.2049],
        [ 1.2229],
        [ 0.3424],
        [ 0.8648],
        [ 1.9064],
        [-0.9448],
        [-0.5475],
        [-0.4624],
        [-0.4096],
        [ 0.9860],
        [-0.3247],
        [-0.4678],
        [-0.3872],
        [-0.6282],
        [-0.8436],
        [-0.0824],
        [-0.6246],
        [-0.6706],
        [ 0.7550],
        [-0.2433]], device='cuda:0', grad_fn=<AddmmBackward>), loss: 0.617407500743866
Epoch #3, training loss : 0.540616, validation loss : 0.373997
Validation loss decreased from 0.403185 to 0.373997. Saving model...
preds tensor([[-0.4722],
        [-0.1024],
        [ 1.2405],
        [ 0.3469],
        [ 1.6992],
        [ 0.0312],
        [-0.3102],
        [-0.6637],
        [ 0.5687],
        [-0.6297],
        [ 1.3104],
        [-0.5195],
        [-1.1375],
        [ 0.3273],
        [-0.2325],
        [-0.3069],
        [-0.5333],
        [-0.2114],
        [-0.6600],
        [-0.2273],
        [ 0.4022],
        [-0.5476],
        [ 0.3793]], device='cuda:0', grad_fn=<AddmmBackward>), loss: 0.1664636880159378
Epoch #4, training loss : 0.515976, validation loss : 0.359146
Validation loss decreased from 0.373997 to 0.359146. Saving model...
preds tensor([[-0.4276],
        [-0.2703],
        [-0.8185],
        [ 1.4817],
        [ 0.4509],
        [ 0.1909],
        [-0.8258],
        [ 0.2094],
        [-0.1466],
        [-0.2782],
        [ 1.0650],
        [-0.0234],
        [-0.0108],
        [ 0.2828],
        [-0.5768],
        [ 0.0687],
        [-0.1852],
        [-0.9485],
        [-0.1785],
        [ 0.1231],
        [ 0.7033],
        [-0.5184],
        [ 0.2254]], device='cuda:0', grad_fn=<AddmmBackward>), loss: 0.18031999468803406
Epoch #5, training loss : 0.499979, validation loss : 0.360560

In [49]:
model.load_state_dict(torch.load('model.pt'))
print('Best model loaded from memory!')

predictions = []
mean, std = train_scaled_features['units_sold']

model.eval()
for features in test_loader:
    # moving data to GPU, if it's available
    if gpu_is_available:
        features= features.cuda()
        model = model.cuda()
        
    # model predictions
    preds = model(features)
    
    # de-scaling the values
    preds = preds*std + mean
    preds = np.squeeze(preds.detach().numpy()) if not gpu_is_available else np.squeeze(preds.cpu().detach().numpy())
    preds = np.round(preds)
    
    predictions.extend(preds)

Best model loaded from memory!

In [58]:
# preparing data for submission
test_data = pd.read_csv('../input/test_nfaJ3J5.csv')
final_submission = pd.DataFrame()
final_submission['record_ID'] = test_data['record_ID']
final_submission['units_sold'] = predictions
final_submission.to_csv('submission.csv', index=False)

In [59]:
final_submission.head(10)

   record_ID  units_sold
0     212645        51.0
1     212646        33.0
2     212647         5.0
3     212648        20.0
4     212649        21.0
5     212653        54.0
6     212654         2.0
7     212657        15.0
8     212658         0.0
9     212661       112.0

In [60]:
final_submission[final_submission['units_sold'] < 0]

Empty DataFrame
Columns: [record_ID, units_sold]
Index: []